.wrapper {
    margin: 0 auto;
    width: 100%;
    font-family: sans-serif;
    color: #555;
    font-size: 14px;
    line-height: 24px;
}

h2,h3{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.tabs li {
    float: left;
    width: 50%;
}
.tabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 8px 0;
    background: #f7f7f7;
}
.tabs a:hover{
    background-color:#ddd;
}

.tabs a.active {
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
}
.tabgroup div {
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.tabgroup #tab1,#tab2{
    min-height:400px;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



html, body { height: 100% }


.basic{
    height:50px;
}



.profile-header{
    position: relative;
    margin-bottom: 10px;
    text-align:center;
}

.profile-img {
    display: block;
    height: 7rem;
    width:7rem;
    margin-right: auto;
    margin-left: auto;
    border: .5em solid #f2f2f2;
    border-radius: 100%;

    line-height: 7rem;
    text-align: center;
}

.profile-text {
    /*margin-top: -3.5em;*/
    /*padding: 5em 1.5em 1.5em 1.5em;*/
    /*background: white;*/
    /*border-radius: 3px;*/
    /*box-shadow: 0 1px 2px rgba(0,0,0,0.1)*/
    position: absolute;
    width: 200px;
    height: 80px;
    background: white;
    opacity:1;
    right: 100px;
    top: 10px;
    text-align: center;
    vertical-align: middle;
}


.profile-header label{
    font-size: 1.5em;
}


.profile-header span{
    font-size: 1.5em;
    margin:0px 5px;
}

#recharge-error,#history-error{
    color: #ffffff;
    background-color:red;
    line-height: 25px;
    height: 25px;
    border: none;
    width: 200px;
    display: block;
    margin: 10px auto 0px;
    visibility: hidden;
}

.profile-name{
}

.profile-title {
    color: #ccc;
}

.clear-both{
    clear:both;
}

h1 {
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/*PC端*/
/*tr:hover {*/
    /*background-color: #38C;*/
    /*cursor:pointer;*/
/*}*/



table tr.highlight {background: #38C;}

/* Zebra striping */
tr:nth-of-type(odd) {
    background-color:#f7f7f7;
}
th {
    background: #333;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive tr { border: 1px solid #ccc; }

    .responsive td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .responsive td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    .responsive td:before { content: attr(data-table-header); }
}

.table-responsive .bootstrap {
    min-height: .01%;
    overflow-x: auto;
}
@media screen and (max-width: 767px) {
    .table-responsive.bootstrap {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive.bootstrap > .table {
        margin-bottom: 0;
    }
    .table-responsive.bootstrap > .table > thead > tr > th,
    .table-responsive.bootstrap > .table > tbody > tr > th,
    .table-responsive.bootstrap > .table > tfoot > tr > th,
    .table-responsive.bootstrap > .table > thead > tr > td,
    .table-responsive.bootstrap > .table > tbody > tr > td,
    .table-responsive.bootstrap > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .table-responsive.bootstrap > .table-bordered {
        border: 0;
    }
    .table-responsive.bootstrap > .table-bordered > thead > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive.bootstrap > .table-bordered > thead > tr > td:first-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > td:first-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .table-responsive.bootstrap > .table-bordered > thead > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive.bootstrap > .table-bordered > thead > tr > td:last-child,
    .table-responsive.bootstrap > .table-bordered > tbody > tr > td:last-child,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > th,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive.bootstrap > .table-bordered > tbody > tr:last-child > td,
    .table-responsive.bootstrap > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

.record_query_btn, .confirm_recharge {
    background: #3498db;
    width: 200px;
    padding: 4px 0;
    border-radius: 3px;
    margin:10px auto;
}
.record_query_btn p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.record_query_btn:hover {
    cursor: pointer;
}

.search{
    height:30px;
    padding: 5px !important;
    margin:0 auto 5px;
    text-align:center;
}



.recharge_amount{
    visibility: hidden;
    height:60px;
    padding: 5px !important;
    box-shadow:none !important;
    margin:20px auto;
    text-align:center;
}

.search input,select{
    height:25px;
    line-height: 25px;
    margin-right:5px;
    border:1px solid gray;

}

.search select{
    width:80px;
}

.search #search_user_btn{
    display:inline-block;
    line-height: 25px;
    height: 25px;
}

.recharge_amount label{
    font-size:1rem;
}
.recharge_amount input{
    height:25px;
    line-height: 25px;
}

input[type=button] {
    border:none;
    width:60px;
    background-color: blue;
    color: #fff;
    font-weight: 400;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select {
        height:25px;
        line-height:25px;
        background:#f4f4f4;
    }
}
select::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select {
        padding: 15px 0!important;
    }
}
@media screen\0 { /* IE Hacks: targets IE 8, 9 and 10 */
    select {
        height:25px;
        line-height:25px;
    }
}

.tb-portrait{
    width:20px;
    height:20px;
    vertical-align: middle;
}